*{
    box-sizing: border-box;
    overflow: hidden;
    margin:0 auto;
}

#root{
    position: relative;
}
section{
    display: grid;
    border: 1px solid #333;
    grid-template-rows: auto auto;
    height: 100vh; 
    max-width: 1000px;
     
}
section div{
    text-align: center;
   
    
}
aside{
    background-color: #fff;
    opacity: 0.5;
    position: fixed;
    border:1px solid #333;
    z-index: 10; 
    right:20px;
    bottom: 100px;
    cursor: pointer;
}
aside div{
    padding:0 10px;
    border: 1px solid #333;
    
}



